Repository IvarK/AntimatterDimensionsSourceCode, pull requests merged in 2024-06, with the labels that each got.

#3447 Remove everything related to Sacrifice in the IDs tab
  src/components/tabs/infinity-dimensions/ModernInfinityDimensionsTab.vue
Labels: area: infinity dimensions

#3442 Improve wording of BI upgrades
  src/core/secret-formula/infinity/break-infinity-upgrades.js
Labels: area: infinity upgrades, ui improvement, hi-spec

#3408 Fix Remnant gain factors while Dilated and Doomed
  src/components/tabs/celestial-pelle/RemnantGainFactor.vue
Labels: stale

#3436 Fix bh pulse not applied during offline progress
  src/game.js
Labels: bug, area: black hole, hi-spec, area: offline time

#3443 Improve Dimensional Sacrifice with Achievement 118 and autobuyer
  src/core/storage/migrations.js
Labels: area: sacrifice, ui improvement

#3439 Add option to show blobhole on other themes
  src/components/modals/options/AnimationOptionsModal.vue
  src/components/tabs/black-hole/black-hole-animation.js
  src/core/player.js
Labels: area: black hole, area: themes, ui improvement, hi-spec, area: options
