Repository IvarK/AntimatterDimensionsSourceCode, pull requests merged in 2024-05, with the labels that each got.

#3430 Fix multiplier tab for new TS132 effect
  src/core/secret-formula/multiplier-tab/general.js
  src/core/secret-formula/multiplier-tab/replicanti.js
Labels: visual bug, area: time studies, area: perks, hi-spec, area: statistics

#3422 Add reset all tabs button in tab modify modal
  src/components/modals/options/hidden-tabs/HiddenTabsModal.vue
Labels: QoL, hi-spec, area: tabs, area: options

#3431 Fix console error in Cel 3
  src/components/tabs/time-studies/TimeStudyButton.vue
Labels: bug, area: time studies, area: cel3

#3429 Made giraffes more expensive, cheaper pp for everyone
  src/components/tabs/celestial-teresa/TeresaTab.vue
  src/core/celestials/teresa.js
  src/core/secret-formula/celestials/teresa.js
Labels: area: cel2, area: cel1

#3426 Add DAB perk
  src/components/tabs/perks/PerksTab.vue
  src/core/autobuyers/dilation-upgrade-autobuyer.js
  src/core/player.js
  src/core/secret-formula/reality/perks.js
  src/core/storage/migrations.js
Labels: area: perks

#3433 Makes DAB explanation clear
  src/core/secret-formula/reality/perks.js
Labels: area: autobuyers, area: perks, ui improvement, hi-spec

#3434 Makes perk shop explanation clear
  src/core/secret-formula/celestials/perk-shop.js
Labels: area: cel1, ui improvement, hi-spec
