Repository IvarK/AntimatterDimensionsSourceCode, pull requests merged in 2024-04, with the labels that each got.

#3423 Switched the position of the REPAS and IDR perks
  src/core/secret-formula/reality/perks.js
Labels: area: perks, hi-spec

#3414 Fixed tiny visual glitch of ECB while its closed
  public/stylesheets/styles.css
Labels: visual bug, hi-spec, area: options

#3393 Update news.js
  src/core/secret-formula/news.js
Labels: visual bug, area: news ticker

#3405 Fix news ticker typo
  src/core/secret-formula/news.js
Labels: visual bug, area: news ticker

#3420 Improve recycle
  src/core/autobuyers/reality-autobuyer.js
Labels: QoL, area: glyphs

#3421 Improve glyph preset load
  src/components/tabs/glyphs/sidebar/GlyphSetSavePanel.vue
  src/core/player.js
Labels: QoL, area: glyphs
